<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-address">
    <div>
      <p>BC Avocats</p>
    </div>
    <div>
      <p>30, avenue de la Bourdonnais 75007 Paris</p>
    </div>
  </div>
  <div class="footer-copyright">
    Made with <i class="fas fa-heart"></i> by WebItGo
  </div>
</div>
