<div class="navbar navbar-expand-sm navbar-light navbar-lewagon container-fluid">

  <%= link_to root_path, class: "navbar-brand" do %>
    <div class="logo">
      <%= image_tag "logo.jpg" %>
    </div>
  <% end %>
  <div class="navbar-links">
    <div class="ps-3">
      <p><i class="fa-solid fa-phone"></i> 01 42 92 07 17</p>
    </div>
    <div class="ps-3">
      <p><i class="fa-solid fa-envelope"></i> contact@bc-avocats.fr</p>
    </div>
  </div>
</div>
